<?xml version="1.0"?>
<launch>
  <arg name="visualization" default="true" doc="start Rviz with predefined configuration?"/>
  <arg name="dummy_transforms" default="false" doc="publish TF transform for sensor to groundplane"/>

  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="camera" value="/spencer/sensors/rgbd_front_top"/>
    <arg name="tf_prefix" value="rgbd_front_top"/>
  </include>
  
  <node pkg="realsense_spencer_adaptor" type="realsense_spencer_adaptor.py" name="realsense_spencer_adaptor" ns="/spencer/sensors/rgbd_front_top"/>
  
  
  <!-- Front-facing d455 camera for person tracking : calibrate w.r.t. laser -->

  <node pkg="tf" type="static_transform_publisher" name="base_link_front_d55_broadcaster" args="0.51 0 0.54 0 0 0 /base_link /rgbd_front_top_link 100"/>

  <include file="$(find ugv_follow_me)/launch/tracking_single_rgbd_sensor.launch">
    <arg name="load_driver" value="false"/>
    <arg name="height_above_ground" value="0.54"/>
    <arg name="visualization" value="$(arg visualization)"/>
    <arg name="dummy_transforms" value="$(arg dummy_transforms)"/>
  </include>
  
</launch>
